{% extends 'base.html.twig' %}

{% block title %}Hello ActivitiesController!{% endblock %}

{% block body %}
<main>
    <div class="uk-container uk-container-xsmall">
        <div class="uk-margin uk-card uk-card-default uk-card-body">
            <form method="post" action="{{ path('addActivity') }}">
                {{ form_start(form) }}
                    <div class="uk-width-1-1">
                        {% if form_errors(form.title) %}
                            <div class="formError">{{form_errors(form.title)}}</div>
                        {% endif %}
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                {{ form_widget(form.title) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        {% if form_errors(form.description) %}
                            <div class="formError">{{form_errors(form.description)}}</div>
                        {% endif %}
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        {% if form_errors(form.category) %}
                            <div class="formError">{{form_errors(form.category)}}</div>
                        {% endif %}
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                {{ form_widget(form.category) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        {% if form_errors(form.startedAt) %}
                            <div class="formError">{{form_errors(form.startedAt)}}</div>
                        {% endif %}
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                {{ form_widget(form.startedAt) }}
                            </div>
                        </div>
                    <div class="uk-width-1-1">
                        {% if form_errors(form.endedAt) %}
                            <div class="formError">{{form_errors(form.endedAt)}}</div>
                        {% endif %}
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                {{ form_widget(form.endedAt) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Ajouter l'actvité</button>
                    </div>
                {{ form_end(form) }}
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.8.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.8.0/js/uikit-icons.min.js"></script>
    </div>
</main>
{% endblock %}
