{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-container">
  <div class="errorMessage">
    {% for message in app.flashes("danger") %}
    <div class="uk-alert-danger" uk-alert>
        <a href class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% for message in app.flashes("success") %}
    <div class="uk-alert-success" uk-alert>
        <a href class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
</div>
<div class="uk-margin uk-width-1-1">
  <a href="{{path('addActivity')}}" class="uk-button uk-width-1-1 uk-button-primary">Ajouter une activitée</a> 
</div>
<div class="uk-margin uk-width-1-1">
  <a href="{{path('dailyAnalysis')}}" class="uk-button uk-width-1-1 uk-button-primary">Analyser mon planning</a> 
</div>

<div class="uk-section">
  <div class="uk-text-lefy" uk-grid>
    <div class="uk-width-1-2">
      <h2>Aujourd'hui</h2>
      {% for activity in activitiesOfToday %}
        <div class="uk-inline uk-width-1-1">
          <button class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </button>
          <div uk-dropdown>
            <p class="uk-text-truncate">{{activity.title}}</p>
            <p>{{activity.description}}</p>
            <p>Début : {{activity.startedAt|date('H:i')}}</p>
            <p>Fin : {{activity.endedAt|date('H:i')}}</p>
          </div>
        </div>
        <br>
        {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités enregistrées pour aujourd'hui </h3>
        </div>
      {% endfor %}
    </div>
    <div class="uk-width-1-2">
      <h2>Demain</h2>
      
      {% for activity in activitiesOfTomorrow %}
      <div class="uk-inline uk-width-1-1">
        <button class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </button>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités enregistrées pour aujourd'hui </h3>
        </div>
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}

