{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-container">
  <div class="errorMessage">
    {% for message in app.flashes("danger") %}
    <div class="uk-alert-danger" uk-alert>
        <a href class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% for message in app.flashes("success") %}
    <div class="uk-alert-success" uk-alert>
        <a href class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
</div>
<div class="uk-text-center" uk-grid>
  <div class="uk-width-1-2">
    <a href="{{path('addActivity')}}" class="uk-button uk-width-1-1 uk-button-primary">Ajouter une activitée</a> 
  </div>
  <div class="uk-width-1-2">
    <a href="{{path('weeklyAnalysis')}}" class="uk-button uk-width-1-1 uk-button-primary">Analyser mon planning</a> 
  </div>
</div>
<hr>
<div class="uk-section">
  <div uk-grid>
    <div class="uk-width-1-6">
      <h2>Hier</h2>
      {% for activity in activitiesOfYesterday %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités</h3>
        </div>
    {% endfor %}
    </div>
    <div class="uk-width-1-6">
      <h2>Aujourd'hui</h2>
      {% for activity in activitiesOfToday %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités enregistrées</h3>
        </div>
    {% endfor %}
    </div>
    <div class="uk-width-1-6">
      <h2>Demain</h2>
      {% for activity in activitiesOfTomorrow %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <p>Pas d'activités {{tomorrowStart |date('d M')}}</p>
    {% endfor %}
    </div>
    <div class="uk-width-1-6">
      <h2>{{dayAfterTomorrowStart |date('d M')}}</h2>
      {% for activity in activitiesOfTheDayAfterTomorrow %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités</h3>
        </div>
    {% endfor %}
    </div>
    <div class="uk-width-1-6">
      <h2>{{twoDaysAfterTomorrowStart |date('d M')}}</h2>
      {% for activity in activitiesOfTwoDaysAfterTomorrow %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités</h3>
        </div>
    {% endfor %}
    </div>
    <div class="uk-width-1-6">
      <h2>{{threeDaysAfterTomorrowStart |date('d M')}}</h2>
      {% for activity in activitiesOfThreeDaysAfterTomorrow %}
      <div class="uk-inline uk-width-1-1">
        <a href="{{path('editActivity', {id:activity.id})}}" class="uk-button uk-width-1-1 uk-button-default uk-border-rounded {{activity.category.color ?? ''}}"  type="button">{{activity.title}} </a>
        <div uk-dropdown>
          <p>{{activity.description}}</p>
          <p>Début : {{activity.startedAt|date('H:i')}}</p>
          <p>Fin : {{activity.endedAt|date('H:i')}}</p>
        </div>
      </div>
        <br>
      {% else %}
        <div class="uk-card uk-card-body uk-card-muted">
          <h3 class="uk-card-title">Pas d'activités</h3>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

